* {
  box-sizing: border-box;
}

.ani-wrapper {
  display: flex;
  justify-content: center;
  text-decoration: none;
  z-index: 1;
}

.ani-cta {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    text-decoration: none;
    font: YuGothic;
    font-size: 16px;
    text-transform: uppercase;
    color: #5A4537;
    background: white;
    border: 1px solid #5A4537;
    transition: 1s;
    //reduce the size of the space between the animation and box-end
    padding-right: 25px;
}

.ani-cta:focus {
   outline: none; 
}

.ani-cta:hover {
    color: #CCB84B;
    border: 1px solid #CCB84B;
    cursor: pointer;
}

.ani-cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.ani-cta:hover  span:nth-child(2) {
    transition: 0.5s;
    // margin-right: 10px;
    //extending the width of the box
}
  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
  }

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.ani-cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.ani-cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.ani-cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #CCB84B;

    }
    100% {
        fill: white;
    }
}
