.news-page-background {
    background-color: #F8F5F2;
    height: 1228px;
}

.news-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    color: #5A4537;
    text-align: center;
    padding-top: 188px;
}

.news-subheading {
    font-family: YuGothic;
    font-size: 1em;
    color: #5A4537;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

.container-container {
    display: flex;
    justify-content: center;
}

.news-content-group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 980px;
}

.news-content-group {
    height: 126px;
    width: 465px;

// TODO check H&W from design

    background-color: grey;
    margin-bottom: 40px;
}

.tempo-button-container {
    display: flex;
    justify-content: center;
}

.tempo-anim-button {
    margin-top: 100px;
    width: 205px;
    height: 66px;
    background-color: grey;
}