.news-page-background {
    background-color: #F8F5F2;
    height: 1228px;
}

.news-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    color: #5A4537;
    text-align: center;
    padding-top: 188px;
    letter-spacing: 4.32px;
}

.news-subheading {
    font-family: YuGothic;
    font-size: 1em;
    color: #5A4537;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
    letter-spacing: 0.8px;
}

.container-container {
    display: flex;
    justify-content: center;
}

.news-content-group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1050px;
}

.news-button-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}