.news-content-group-background {
    background-color: #F8F5F2;
    opacity: 0.9;
    height: 560px;
    width: 331px;
    // TODO check h&w are correct using design
}

.news-content-group-background:hover {
    background-color: white;
    // TODO change hover to be included in background {}
}

.image {
    height: 107px;
    width: 160px;
    // TODO add padding top left or use flexbox
    background-color: black;
}

.article {
    font-family: YuMincho;
    font-size: 1em;
    color: #5A4537;
    width: 290px;
}

.date {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75em;
    font-style: italic;
    // TODO find what color it is
}

.link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75em;
    font-style: italic;
    color: yellow;
    // TODO change font color to same as std button hover color
}

