.shops-background {
    background-image: url(..//../assets/shops_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left; 
}

.shops-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    letter-spacing: 4.32px;
    color: #5A4537;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 24px;
}

.shops-subheading {
    font-family: YuGothicMedium;
    font-size: 1em;
    letter-spacing: 0.8px;
    color: #5A4537;
    text-align: center;
    padding-bottom: 60px;
}

.shops-button-group {
    display: flex;
    justify-content: center;
    padding-bottom: 212px;
}

.shops-button-container {
    margin-right: 65px;
}