.top-section {
    display: flex;
}

.number {
    font-size: 5.5em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #BFB4AD;
}

.subheading {
    font-size: 1.75em;
    font-family: YuMincho;
    font-style: italic;
    color: #5A4537;
    width: 22vw;
    line-height: 6.6vh;
    margin-top: 0.6vh;
    margin-left: 2.3vw;
}

.line {
    border-top: 2px solid red;
    width: 31vw;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
}

.textbox {
    font-size: 1em;
    font-family: YuGothic;
    text-align: left;
    color: #5A4537;
    width: 30.5vw;
    margin-left: 1vw;
    line-height: 5vh;
    // font-weight: lighter;
}