.quality-page-container {
    background-color: #F8F5F2;
    height: 290vh;
    width: 100%;
}

.page-break {
    height: 15vh;
}

.qp-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    color: #5A4537;
    text-align: center;
    letter-spacing: 4.32px;
    margin-bottom: 23px;
}

.qp-subheading {
    font-family: YuGothic;
    font-size: 1em;
    color: #5A4537;
    text-align: center;
    letter-spacing: 0.8px;
    margin-bottom: 77px;
}

.row {
    display: flex;
    margin-bottom: 77px;
}

.image {
    width: 50vw;
}

.quality-content-group-container {
    width: 50vw;
}

.quality-content-group-left {
    margin-left: 4.5vw;
    margin-top: 8vh;
}

.quality-content-group-right {
    float: right;
    margin-right: 4.5vw;
    margin-top: 8vh;
}

.qp-button-container {
    display: flex;
    justify-content: center;
}