.content-group-container {
    white-space: pre-wrap;
    width: 410px;
}

.top-section {
    display: flex;
}

.number {
    font-size: 5.5em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #BFB4AD;
}

.subheading {
    font-size: 1.75em;
    font-family: YuMincho;
    font-style: italic;
    color: #5A4537;
    line-height: 1.5;
    margin-top: 0.6vh;
    margin-left: 2.3vw;
}

.line {
    border-top: 2px solid #BFB4AD;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
}

.quality-content-textbox {
    font-size: 1em;
    font-family: YuGothic;
    text-align: left;
    color: #5A4537;
    margin-left: 1vw;
    line-height: 5vh;
}