.card-background {
    background-color: #F8F5F2;
    opacity: 0.9;
    height: 96vh;
    width: 26vw;
}

.items-container {
    margin-left: 2.5vw;
}

.card-heading {
    font-size: 1.25em;
    font-family: YuMincho;
    color: #5A4537;
    line-height: 2;
    padding-top: 4vh;
    margin-bottom: 3vh;
    text-align: left;
}

.image {
    border: 3px solid white;
    margin-bottom: 3vh;
    height: 44.5vh;
    width: 20.5vw;
}

.textbox {
    font-size: 1em;
    font-family: YuGothic;
    color: #5A4537;
    width: 20vw;
    line-height: 2;
    margin-bottom: 4vh;
    text-align: left;
}

// .standard-button {
    //     width: 21vw;
    // }
    
// .button-container {
        
    // }
        
.tempo-standard-button {
    width: 21vw;
    height: 4.7vh;
    background-color: grey;
            
}