

.pp-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    color: #5A4537;
    text-align: center;
    letter-spacing: 4.32px;
    margin-top: 130px;
    margin-bottom: 24px;
}

.pp-subheading {
    font-family: YuGothicMedium;
    font-size: 1em;
    color: #5A4537;
    text-align: center;
    letter-spacing: 0.8px;
    margin-bottom: 60px;
}

.pp-cards-container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.pp-products-item-card {
    padding-right: 24px;
}

.pp-button-container {
    padding-bottom: 70px;
}