.online-shop-button {
    background-color: #5A4537;
    opacity: 0.9;
    display: inline-flex;
    width: 222px;
    height:96px;
    cursor: pointer;

    &:hover {
        background-color: #CCB84B;   
    }
}

.osb-text {
    color: white;
    font-family: 'Times New Roman';
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
    width: auto;
    margin-left: 15px;
}

.osb-icon {
    width:25px;
    height: 23px;
    background: url(../../../assets/sp_shopping_icon.svg);
    margin-left: 32px;
}

.osb-icon-text-container {
    width: 220px;
    height: 24px;
    align-self: center;
    display: flex;
}

@media (max-width: 1025px) {
    .osb-text {
        display: none;
    }

    .online-shop-button {
        width: 90px;
    }
}