.page-container {
    height: 961px;
    width: 100vw;
}

.page-break {
        height: 180px;
        width:100%;
        color: white;
}

.page-items-container {
    display: flex;  
}

.left-half-container {
    width: 50vw;
}

.image-container {
    margin-top: 268px;
}

.image {
    width: 50vw;
    // width: 100%;
     }