.page-break {
    height: 180px;
    width:100%;
    color: white;
}

.page-container {
    height: 961px;
    width: 100vw;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.75vw;
    color: #5A4537;
    letter-spacing: 4.32px;
    display: flex;
    justify-content: center;
}

.subheading {
    font-family: YuMincho;
    font-size: 2vw;
    color: #5A4537;
    padding-top: 13.5vh;
    width: 36vw;
    padding-left: 18vw;

}

.two-halfs-container {
    display: flex;  
    padding-top: 12vh;
}

.left-half-container {
    width: 50vw;
}

.textbox {
    font-family: YuGothic;
    font-size: 1.25vw;
    color: #5A4537;
    letter-spacing: 0.8px;
    padding-left: 18vw;
    width: 31.5vw;
}

.temp-button-container {
    padding-left: 18vw;
    padding-top: 10vh;
}

.temp-button {
    // width: 24vw;
    width: 306px;
    height: 66px;


    background-color: grey;
    // padding-top: 12vh;
    // padding-left: 18vw;
}

// .image-container {
//     // margin-top: 268px;

// }

.image {
    width: 50vw;
    // width: 100%;
     }