* {
    box-sizing: border-box;
  }
  
  .std-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .std-cta {
      display: block;
      text-decoration: none;
      font: YuGothic;
      font-size: 16px;
      text-transform: uppercase;
      color: #5A4537;
      background: white;
      transition: 0.3s;
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex; 
      justify-content: center;
      align-items: center;
  }
  
  .std-cta:focus {
     outline: none;
  }
  
  .std-cta:hover {
      background-color: #CCB84B;
      color: white;
      cursor: pointer;
  }

  .std-cta:active {
    background-color: #a3943d;
  }