.footer-background {
    background-color: #604F43;
    padding-bottom: 65px;
    min-width: 640px;
}

.footer-top {
    display: flex;
}

.footer-logo-group {
    margin-top: 56px;
    width: min-content;
    justify-content: center;
}

.footer-smaller-logos {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.footer-middle {
    padding-bottom: 50px;
}

.page-info-group-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
}

.page-info-group {
    height: 149px;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 16px;
    margin-right: 15px;
    width: 236px;
}

.page-name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: white;
    margin-bottom: 24px;
}

.page-content {
    font-family: YuGothicMedium;
    font-size: 0.75em;
    color: white;
    margin-bottom: 24px;
}

.footer-left-side {
    display: flex;
    justify-content: center;
    padding: 0 12%;
}

.footer-right-side {
    width: 15.2%;
    margin-right: 17px;
}

.top-button-container {
    margin-top: 64px;
    height: auto;
    width: auto;
    float: left;
    padding-right :70px;
}

.top-button-container:hover .top {
    color: #CEBB35;
    cursor: pointer;
}

.top-button-container:hover .arrow {
    color: #CEBB35;
    cursor: pointer;
}

.arrow {
    color: white;
    display: flex;
    justify-content: center;
}

.top {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75em;
    color: white;
    text-align: center;
}

.line {
    border-top: 3px solid white;
}

.footer-bottom-text-container {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.footer-bottom-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75em;
    color: white;
}

@media (max-width: 950px) {
    .page-info-group-container {
        width: 180px;
    }

    .page-content {
        display: none;
    }

    .page-info-group {
        height: auto;
    }

    .footer-bottom-text-container {
        width: 80%;
    }
}