.footer-background {
    height: 565px;
    background-color: #604F43;
}

.footer-top-section {
    display: flex;
}

.footer-logo {
    margin-top: 56px;
    // margin-left: 204px;
    // margin-right: 151px;

    margin-left: 40%;
    // margin-right: 11.8%;
}

.smaller-logos {
    // margin-left: 212px;
    margin-top: 40px;

    margin-left: 41%;
}

.fb-logo {
    // margin-right: 24px;

    margin-right: 9%;
}

.footer-middle {
    height: 447px;
    // width: 786px;

    width: 61.4%;
}

.page-info-group-container {
    height: 330px;
    display: flex;
    flex-flow: column wrap;
    margin-top: 64px;
}

.page-info-group {
    // width: 262px;
    height: 149px;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 16px;

    width: 20.5%;
}

.page-name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: white;
    margin-bottom: 24px;
}

.page-content {
    font-family: YuGothicMedium;
    font-size: 0.75em;
    color: white;
    margin-bottom: 24px;
}






.footer-left-side {
    width: 35.9%;
}

.footer-right-side {
    width: 15.2%;
}





.top-button-container {
    margin-top: 64px;
    height: auto;
    width: auto;

    float: left;
}

.top-button-container:hover .top {
    color: #CEBB35;
    cursor: pointer;
}

.top-button-container:hover .arrow {
    color: #CEBB35;
    cursor: pointer;
}

.arrow {
    color: white;
    display: flex;
    justify-content: center;
}

.top {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75em;
    color: white;
    text-align: center;
}

.line {
    border-top: 3px solid white;
}

.footer-bottom-text-container {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.bottom-left {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75em;
    color: white;
}

.bottom-right {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75em;
    color: white;
}
