.fixed-position {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 19vw;
}

.logo-container {
    margin-top: 8px;
}

.nav-bar-item-container {
    margin-bottom: 20px;
}

.shop-button-container {
    margin-bottom: 30px;
}