.navbarFixed {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.navbarFixed.active {
    background-color: #5A4537;
    opacity: 0.98;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 17vw;
}

.nbi-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;   
}

.logo-container {
    cursor: pointer;
}

@media (max-width: 1025px) {
    .nbi-wrap{
        display: block;
        margin-bottom: 5px;
    }

    .nav-bar-item-container {
        margin-bottom: 10px;
        margin-top: 0px;
    }
}